<% content_for :meta, tag('meta', :property => 'og:image', :content => post.image.url(:original)) %>

<table id="social-buttons">
  <tr>
    <td><%= pinit_button(url: post_url(post), media: post.image.url(:original), description: "Impel Images") %></td>
    <td><%= like_button('465673663517478', href: post_url(post)) %></td>
    <td><%= tweet_button(count: 'horizontal', via: "impelio", url: post_url(post), text: "Impel Images: #{post_url(post)}") %></td>
  </tr>
</table>